#!/usr/bin/make -f

%:
	dh $@

VER=$(shell dpkg-parsechangelog | sed -rne 's/^Version: (.+)-.*/\1/p')
get-packaged-orig-source:
	git clone https://github.com/mithro/ixo-usb-jtag
	set -xe; \
		GIT_DATE=$$(dpkg-parsechangelog | sed -rne 's/^Version: .*\+git(....)(..)(..)-.*/\1-\2-\3 00:00:00 UTC/p'); \
		cd ixo-usb-jtag; \
		GIT_COMMIT=$$(git rev-list -n1 --until="$$GIT_DATE" master); \
		git archive $$GIT_COMMIT --prefix=ixo-usb-jtag_$(VER).orig/ -o ../ixo-usb-jtag_$(VER).orig.tar
	xz -f ixo-usb-jtag_$(VER).orig.tar
	rm -rf ixo-usb-jtag
